/*#map-canvas {
	height: 310px;
	margin: 0px;
	padding: 0px;
}*/

@media (min-width: 300px) {
	#map-canvas {
		height: 300px;
		margin: 0px;
		padding: 0px;
	}
}

@media (min-width: 768px) {
	#map-canvas {
		height: 300px;
		margin: 0px;
		padding: 0px;
	}
}

@media (min-width: 992px) {
	#map-canvas {
		height: 400px;
		margin: 0px;
		padding: 0px;
	}

}

@media (min-width: 1200px) {
	#map-canvas {
		height: 600px;
		margin: 0px;
		padding: 0px;
	}

}

/*768
992
1200*/