<style>

	@media (min-width: 300px) {
		map, div[map] { display:block; height:270px; }
	}

	@media (min-width: 768px) {
		map, div[map] { display:block; height:400px; }
		/*.spot{
			visibility:hidden;
		}*/
	}

	@media (min-width: 992px) {
		map, div[map] { display:block; height:500px; }
		/*.spot{
			visibility:hidden;
		}*/
	}

	@media (min-width: 1200px) {
		map, div[map] { display:block; height:300px; }
		/*.spot{
			visibility:hidden;
		}*/
	}

</style>

<script id="my-script">

	function addMyMarker() { //function that will add markers on button click

	}


</script>

<!-- <div ng-controller="extraMarker">
  <ul ng-repeat="m in markers">
    <li>{{ m }}</li>
  </ul>
  <input type="text" ng-model="newMarker"/>
  <button type="submit" ng-click="addMarker()">Add New Marker</button>
</div> -->

<div id="my-html" ng-controller="MyCtrl">
  <map id='google_map' zoom="20" map-type-id="MapTypeId.SATELLITE" ng-controller="MyCtrl">
    <marker position="current" animation="Animation.BOUNCE" centered="true"></marker>

    <marker ng-controller='extraMarker' ng-repeat="m in markers" position="{{m}}" title="{{m.toString()}}" icon="https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png" draggable="true" animation="Animation.DROP" on-dragstart="dragStart()" on-drag="drag()" on-dragend="dragEnd()"></marker>
  </map>
  <br>
  <button id='drop' ng-controller="extraMarker" ng-click="addMarker()" class='spot btn btn-info btn-lg btn-block'>Point out a spot</button>

</div>















