
<!-- register function has not been completed just yet. all this here for reference. do not uncomment. -->

<!-- <div ng-controller="firebase_controller">
  <ul ng-repeat="person in people">
    <li>{{ person }}</li> -->
    <!-- <li>{{ person.newPerson }}</li> -->
    <!-- <li>{{ person.name }}</li> -->
    <!-- <li>{{ person.other }}</li> -->
<!--   </ul>
  <input type="text" ng-model="newPerson"/>
  <button type="submit" ng-click="addPerson()">Add New Person</button>
</div> -->

<h1>Register functionality to come soon.</h1>